.container-supports{
    display: flex;
    max-width: 1055px;
    justify-content: space-between;
    margin: 0 auto;
    h2{
        font-weight: 700;
        font-size: 18px;
        line-height: 132.5%;
        margin-top: 24px;
        color: #000000;
    }
    p{
        font-size: 14px;
        line-height: 140%;
        font-weight: 400;
        max-width: 265px;
        margin-top: 14px;
        color: #000000;
        margin-bottom: 46px;
        opacity: 0.7;
    }
}