.conteiner-wrapper{
    margin-top: 46px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1400px;
img{
    width: 152px;
    height: 80px;
    
}
}