.main-card {
    
    width: 233px;

    .main-content__check
{
        display: flex;
    align-items: center;
    margin-left: 24px;
    .main-content__check--text
{
            margin-left: 5px;
            font-weight: 400;
            font-size: 10px;
            line-height: 210%;
            color: #78a962;
        }
    }

    .main-content__info {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 22px;

        .main-content__reviews {
            font-size: 12px;
            line-height: 210%;

            display: flex;
            align-items: center;
            text-align: center;

            margin-left: 10px;

            color: #a2a6b0;
        }
    }

    .main-content__description {
        margin: 0 auto;
        margin-top: 10px;
        font-size: 13px;
        line-height: 20px;
        text-align: start;
        width: 185px;
        color: #000000;
    }
}

.main-content__sale {
    position: relative;
    margin-left: 25px;
    margin-top: 20px;
    

    .sale-old {
        font-size: 14px;
        line-height: 140%;
        /*or20px*/
        display: flex;
        align-items: center;
        text-decoration-line: line-through;
        -moz-text-decoration-line: line-through;
        color: #666666;
    }

    .sale-new {
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        display: flex;
        align-items: center;
        color: #000000;
    }
}
.sale-buy{
    opacity: 0;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.7s ease-in-out;
    .sale-buy__button
{
        transition: all 1s;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        gap: 10px;
        width: 160px;
    height: 37px;
    left: 0px;
    top: 0px;
    color: #0156FF;
    background-color: rgba($color: #fff, $alpha: 0.1);
    border: 2px solid #0156FF;
    border-radius: 50px;
    }
    .sale-buy__button:hover{
        color: #fff;
        background-color: #0156FF;
        
            path{
                fill: #fff;
            }
            
        
    }
}
.main-card:hover{
    
    .sale-buy{

        opacity: 1;  
    }
} 