a:visited{
    color: #000000;
}

.navbar{
    max-width: 1400px;
    height: 92px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #000000;
.nav-links{
        display: flex;
        justify-content:space-between;
        text-align: center;
        flex-wrap: wrap;
        .nav-item{
            margin: 8px;
        }
        .nav-btn{
    align-items: center;
    padding: 8px 26px;
    margin-left: 10px;
    color: #0156FF;
    background: #FFFFFF;
    border: 2px solid #0156FF;
    border-radius: 50px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    
}
        .nav-btn:hover{
            color: #FFFFFF;
            background: #0156FF;
        }
}

}
.nav-right{
    position: relative;
    display: flex;
    justify-content: center;    
    text-align: center;
    align-items: center;


    svg{
        // position: relative;
        margin-left: 8px;
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}


.search-input{
    display: flex;
    input{
        position: absolute;
        font-size: 18px;
        top: 64px;
        padding: 16px;
        right: 210px;
        background: #F5F7FF;
        border: none;
        border-radius: 31px;
        display: none;
        width: 1126px;
        
        -webkit-border-radius: 31px;
        -moz-border-radius: 31px;
        -ms-border-radius: 31px;
        -o-border-radius: 31px;
        
}

}
.cart-open__card::after{
  content: "";
  width: 16px;
  height:16px;
  transform: rotate(136deg);
  top: -9px;
  right: 3px;
  position: absolute;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  border-right: none;
  background-color: #fff;
  display: block;
  position: absolute;
  -webkit-transform: rotate(136deg);
  -moz-transform: rotate(136deg);
  -ms-transform: rotate(136deg);
  -o-transform: rotate(136deg);
}
.cart-open__card{
    // display: none;
position: absolute;
top:35px;
right: 0px;
box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color:#000000;
    display: flex;
    flex-direction: column;
    width: 310px;
    max-height: 520px;
    display: none;
    .cart-title{
        margin-top: 24px;
        margin-bottom: 6px;
        font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    text-align: center;

    color: #000000;
    }
    .cart-description{
        font-weight: 400;
font-size: 12px;
line-height: 18px;
text-align: center;



color: #A2A6B0;
}
.cart-open__button--viev{
    margin-top: 18px;
    margin-left: 30px;
    margin-right: 30px;
    border: 2px solid #0156FF;
    background-color: #FFFFFF;
    padding: 8px 48px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #0156FF;
    border-radius: 50px;
    color: #0156FF;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.cart-items{
    margin-top: 20px;
    box-sizing: border-box;
    // margin-right: 20px;
    // padding: 18px 22px;
   .cart-item{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    // align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    .cart-item__title{
       display: flex;
       align-items: center;
    }
        .cart-item__desc{
            font-weight: 400;
font-size: 13px;
line-height: 20px;
text-align: start;
color: #000000;
max-width: 154px;

        }
        svg{
            margin-bottom: 5px;
        }
  
   }
}
.cart-footer{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    p{
        margin-bottom: 14px;
        font-size: 14px;
        line-height: 140%;
        font-weight: 600;
        color: #A2A6B0;
        text-align: center;
        span{
            font-size: 18px;
            color: #000000;
        }
    }
    .cart-btn__footer-check{
        border-radius: 50px;
        background: #0156FF;
        color: #FFFFFF;
        width: 250px;
        border: none;
        margin: 0 auto;
        height: 38px;
    }
    .cart-btn__footer-paypal{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background: #FFB800;
        width: 250px;
        border: none;
        margin: 6px auto 24px;
        height: 38px;
    }
}
}

.cart-detail:hover {
    .cart-open__card{
        display: flex;
    }
}


.cart-open__button--viev:hover{
    background: #0156FF;
    color: #FFFFFF;
}
.cart-btn__footer-check:hover{
    box-shadow:1px 1px 10px #7a9fff;
}