a:visited{
    color: #000000;
}

.navbar{
    max-width: 1400px;
    height: 92px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #000000;
.nav-links{
        display: flex;
        justify-content:space-between;
        text-align: center;
        flex-wrap: wrap;
        .nav-item{
            margin: 8px;
        }
        .nav-btn{
    align-items: center;
    padding: 8px 26px;
    margin-left: 10px;
    color: #0156FF;
    background: #FFFFFF;
    border: 2px solid #0156FF;
    border-radius: 50px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    
}
        .nav-btn:hover{
            color: #FFFFFF;
            background: #0156FF;
        }
}

}
.nav-right{
    position: relative;
    display: flex;
    justify-content: center;    
    text-align: center;
    align-items: center;


    svg{
        // position: relative;
        margin-left: 8px;
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}


.search-input{
    display: flex;
    input{
        position: absolute;
        font-size: 18px;
        top: -10px;
        padding: 16px;
        right: 100px;
        background: #F5F7FF;
        border: none;
        border-radius: 31px;
        outline: none;
        // display: none;
        width: 1160px;
        
        -webkit-border-radius: 31px;
        -moz-border-radius: 31px;
        -ms-border-radius: 31px;
        -o-border-radius: 31px;
        
}

}
