.sale-buy{
    opacity: 0;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.7s ease-in-out;
    .sale-buy__button{
        path{
            transition: all 1s;
            -webkit-transition: all 1s;
            -moz-transition: all 1s;
            -ms-transition: all 1s;
            -o-transition: all 1s;
}
        transition: all 1s;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -ms-transition: all 1s;
        -o-transition: all 1s;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        gap: 10px;
        width: 160px;
    height: 37px;
    left: 0px;
    top: 0px;
    color: #0156FF;
    background-color: rgba($color: #fff, $alpha: 0.1);
    border: 2px solid #0156FF;
    border-radius: 50px;
    }
    .sale-buy__button:hover{
        color: #fff;
        background-color: #0156FF;
        
            path{
                fill: #fff;

            }
            
        
    }
}